.pinochle_player_name {
    visibility: hidden;
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.pinochle_player_score {
    visibility: hidden;
    position: absolute;
    width: 200px;
    text-align: center;
    font-size: 28pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.pinochle_player_thinking {
    position: absolute;
    width: 75px;
    height: 60px;
    opacity: 1;
    pointer-events: none;
    visibility: hidden;
}

.pinochle_circular {
    animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px;
    left: 12.5px;
    top: 5px;
    position: relative;
    -webkit-filter: drop-shadow( 3px 3px 1px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 1px rgba(0, 0, 0, .7));
}
  
.pinochle_player_thinking_path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke:#0057e7;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes dash{
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
       stroke-dasharray: 89,200;
       stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

#pinochle_choose_bid_view {
	z-index: 999;
	opacity:0;
	pointer-events: none;
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

#pinochle_trump_suit_indicator {
    position: absolute;
    width: 70px;
    text-align: center;
    font-size: 14pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
    visibility: hidden;
}

#pinochle_trump_suit_image {
    background-image:url('../shared/images/score_heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 50px;
    margin-left: 4px;
    margin-top: 3px;
}

#pinochle_trick_score_bubble {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #0000BB;
    border: 2px solid white;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
}

#pinochle_trick_score_points {
    display: block;
    color: white;
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
}

#pinochle_trick_score_label {
    display: block;
    color: white;
    text-align: center;
    font-size: 12px;   
}

#pinochle_accept_trick_result {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 150px;
    height: 50px;
    cursor: pointer;
	border:#FFFFFF 2px solid;
	border-radius:15px;
	background:linear-gradient(0deg, #000000 50%, #404040 50%);
	color:white;
	font-size:18pt;
	box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
}

#pinochle_accept_trick_result:hover {
    background:linear-gradient(0deg, #222222 50%, #555555 50%);
}

#pinochle_accept_round_result_button {
    width: 150px;
    height: 50px;
    cursor: pointer;
	border:#FFFFFF 2px solid;
	border-radius:15px;
	background:linear-gradient(0deg, #000000 50%, #404040 50%);
	color:white;
	font-size:18pt;
}

#pinochle_accept_round_result_button:hover {
    background:linear-gradient(0deg, #222222 50%, #555555 50%);
}

#pinochle_player_play_prompt {
    position: absolute;
    width: 200px;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

#pinochle_hint_button {
    position: absolute;
    cursor: pointer;
    width: 80px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    border:#FFFFFF 2px solid;
    border-width: 1px;
    border-radius: 7px;
    color:white;
    font-size: 18px;
    padding: 0px;
    visibility: hidden;
    opacity: 0;
}

#pinochle_hint_button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#pinochle_undo_button {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    border:#FFFFFF 2px solid;
    border-width: 1px;
    border-radius: 7px;
    color:white;
    font-size: 13pt;
    visibility: hidden;
    opacity: 0;
}

#pinochle_undo_button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#pinochle_redo_button {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    border:#FFFFFF 2px solid;
    border-width: 1px;
    border-radius: 7px;
    color:white;
    font-size: 13pt;
    visibility: hidden;
    opacity: 0;
}

#pinochle_redo_button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#pinochle_choose_trump_suit_view {
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
}

#pinochle_choose_trump_prompt {
    text-align: center;
    color: white;
    font-size: 22pt;
    text-shadow: 3pt 3pt rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.pinochle_choose_trump_button {
    background: #00000000;
    border: none;
    cursor: pointer;
}

.pinochle_choose_trump_image {
    height: 100px;
}

#pinochle_select_passing_cards_message {
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.pinochle_select_passing_card_region {
    position: absolute;
    opacity:  0;
    border-radius: 8px;
    background: #00000022;
    border: 2px solid white;
    width: 110px;
    height: 157px;
}

#pinochle_confirm_passing_cards_button {
    position: absolute;
    cursor: pointer;
    border:#FFFFFF 2px solid;
    border-radius:8px;
    background:linear-gradient(0deg, #000000 50%, #404040 50%);
    color:white;
    width: 130px;
    height: 50px;
    font-size:14pt;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.5);
    transform: translate(-50%,0%);
    opacity: 0;
    visibility: hidden;
}

#pinochle_confirm_passing_cards_button:hover {
    background:linear-gradient(0deg, #222222 50%, #555555 50%);
}

.pinochle_meld_view_north_south {
    position: absolute;
    transform: translate(-50%,0%);
    min-width: 75px;
	max-width: 450px;
	z-index: 999;
	opacity:0;
	pointer-events: none;
	background:#0000BB;
	border:#FFFFFF 2px solid;
	border-radius:15px;
	box-shadow: 15px 15px 0px rgba(0,0,0,0.5);
}

.pinochle_meld_view_east_west {
    position: absolute;
    transform: translate(-50%,0%);
    min-width: 75px;
	max-width: 250px;
	z-index: 999;
	opacity:0;
	pointer-events: none;
	background:#FF0000;
	border:#FFFFFF 2px solid;
	border-radius:15px;
	box-shadow: 15px 15px 0px rgba(0,0,0,0.5);
}

.pinochle_meld_view_title {
    display: block;
	text-align:center;
	font-size:12pt;
	color: #FFFFFF;
    margin-top:3px;
    margin-left: 5px;
    margin-right: 5px;
}

.pinochle_meld_view_value {
    display: block;
	text-align:center;
	font-size:26pt;
	color: #FFFFFF;
}

#pinochle_round_result_view {
    position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 998;
    width: 240px;
    height:320px;
    background:#000000;
	border:#FFFFFF 2px solid;
	border-radius:20px;
	box-shadow: 30px 30px 0px rgba(0,0,0,0.5);
	margin: auto;
    text-align: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

#pinochle_round_result_title {
    color: white;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#pinochle_round_result_names_row {
    height: 55px;
}

#pinochle_round_result_names_north_south {
    position: absolute;
    width: 100px;
    left: 20px;
    background: #0000BB;
    padding: 5px 0px;
}

#pinochle_round_result_names_east_west {
    position: absolute;
    width: 100px;
    left: 50%;
    background: #FF0000;
    padding: 5px 0px;
}

.pinochle_round_result_row {
    display: block;
    width: 100%;
    height: 30px;
}

.pinochle_round_result_row_label {
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.pinochle_round_result_row_value_north_south {
    position: absolute;
    width: 50%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

.pinochle_round_result_row_value_east_west {
    position: absolute;
    width: 50%;
    left: 50%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

#pinochle_round_result_line {
    display: block;
    width: 80%;
    left: 10%;
    height: 2px;
    background: white;
    margin-top: 5px;
}

#pinochle_round_result_totals_row {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

#pinochle_round_result_totals_label {
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
}

#pinochle_round_result_totals_north_south {
    position: absolute;
    width: 50%;
    font-size: 28px;
    height: 35px;
    line-height: 35px;
}

#pinochle_round_result_totals_east_west {
    position: absolute;
    width: 50%;
    left: 50%;
    font-size: 28px;
    height: 35px;
    line-height: 35px;
}

#PinochleGameOverView {
    z-index: 999;
    width: 340px;
    height:100px;
    background:#000000;
	border:#FFFFFF 2px solid;
	border-radius:10px;
	box-shadow: 30px 30px 0px rgba(0,0,0,0.5);
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

#PinochleGameOverResultText {
    margin-top: 10px;
    font-size: 24pt;
}

#PinochleGameOverResultText2 {
    margin-top: 10px;
    font-size: 20pt;
}

#pinochle_round_simulations_view {
    position: absolute;
	top:280px;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 999;
    width: 500px;
    height:420px;
    background:#101010;
	border:#FFFFFF 2px solid;
	border-radius:20px;
	box-shadow: 30px 30px 0px rgba(0,0,0,0.5);
	margin: auto;
    text-align: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

#pinochle_round_simulations_title {
    position: absolute;
    width: 80%;
    left: 10%;
    font-size:26px;
	top: 5px;
}

#pinochle_round_simulations_subtitle {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 40px;
    font-size: 16px;
}

#pinochle_round_simulations_graphs_container {
    position: absolute;
    width: 450px;
    height: 325px;
    top: 90px;
    left: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.pinochle_round_simulations_histogram {
    display: block;
    position: relative;
    width: 450px;
    height: 70px;
    margin-bottom: 10px;
}

.pinochle_round_simulations_horizontal_axis {
    position: absolute;
    width: 450px;
    height: 1px;
    background: #555555;
    top: 55px;
}

.pinochle_round_simulations_horizontal_axis_label {
    position: absolute;
    top: 55px;
    font-size: 12px;
    color: #555555;
}

.pinochle_round_simulations_bar {
    position: absolute;
    width: 6px;
    height: 50px;
    top: 5px;
    background: blue;
    transform-origin: bottom;
    transform: scaleY(1);
}

.pinochle_round_simulations_vertical_line {
    position: absolute;
    width: 2px;
    height: 50px;
    top: 5px;
    background: white;
}

.pinochle_round_simulations_safe_bid_value {
    position: absolute;
    width: 100px;
    text-align: right;
    font-size: 22px;
    color: white;
    transform: translateX(-105px);
    top: 10px;
}

.pinochle_round_simulations_safe_bid_label {
    position: absolute;
    width: 100px;
    text-align: right;
    font-size: 14px;
    color: white;
    transform: translateX(-105px);
    top: 35px;
}

.pinochle_round_simulations_suggested_bid_value {
    position: absolute;
    width: 100px;
    text-align: left;
    font-size: 22px;
    transform: translateX(5px);
    color: white;
    top: 10px;
}

.pinochle_round_simulations_suggested_bid_label {
    position: absolute;
    width: 100px;
    text-align: left;
    font-size: 14px;
    color: white;
    transform: translateX(5px);
    top: 35px;
}

.pinochle_round_simulations_suit_image {
    position: absolute;
    left: 50px;
    height: 55px;
    transform: translateX(-50%);
}

#pinochle_round_simulations_explanation {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 310px;
    font-size: 16px;
}

/*
*
*  Scoreboard
*
*/

#pinochle_scoreboard {
    position: absolute;
    width: 200px;
    height: 172px;
    left: 25px;
    top: -152px;
}

#pinochle_scoreboardBackground {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #00000077;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
    z-index: 9999;
}

#PinochleScoreboardDifficulty {
    position: absolute;
    width: 100px;
    height: 20px;
    font-size: 12pt;
    color: #000000;
    text-align: center;
    top: 80px;
    left: -12px;
    transform-origin: left;
    text-align: center;
    transform: rotate(-90deg);
}

#PinochleScoreboardNorthSouth {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 0px;
    background: #0000FFBB;
}

#PinochleScoreboardEastWest {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 100px;
    background: #FF0000BB;
}

.pinochle_scoreboard_name {
    color: white;
    text-align: center;
    font-size: 14pt;
    margin: 3px 5px;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
}

#PinochleScoreboardScoreBackgroundNorthSouth {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #0000FFBB;
    border: 2px solid #0000FF;
    top: 50px;
    box-sizing: border-box;
}

#PinochleScoreboardScoreBackgroundEastWest {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #FF0000BB;
    border: 2px solid #FF0000;
    top: 50px;
    box-sizing: border-box;
}

#PinochleScoreboardScoreFillNorthSouth {
    position: absolute;
    width: 50%;
    height: 30px;
    background: #0000FF;
    top: 50px;
}

#PinochleScoreboardScoreFillEastWest {
    position: absolute;
    width: 50%;
    height: 30px;
    background: #FF0000;
    top: 50px;
}

.pinochle_scoreboard_score {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    top: 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

#PinochleScoreboardRowBid {
    position: absolute;
    width: 200px;
    height: 25px;
    top: 82px;
}

#PinochleScoreboardRowMeld {
    position: absolute;
    width: 200px;
    height: 25px;
    top: 107px;
}

#PinochleScoreboardRowCounters {
    position: absolute;
    width: 200px;
    height: 25px;
    top: 132px;
}

.pinochle_scoreboard_row_title {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    height: 25px;
    line-height: 25px;
}

.pinochle_scoreboard_row_label_north_south {
    position: absolute;
    width: 40%;
    color: white;
    text-align: center;
    font-size: 12pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    height: 25px;
    line-height: 25px;
}

.pinochle_scoreboard_row_label_east_west {
    position: absolute;
    width: 40%;
    right: 0px;
    color: white;
    text-align: center;
    font-size: 12pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    height: 25px;
    line-height: 25px;
}

#PinochleScoreboardRoundScoresRegion {
    position: absolute;
    left: 200px;
    width: 150px;
    height: 100%;
    overflow: auto;
}

.pinochle_scoreboard_round_entry_separator {
    position: absolute;
    width: 1px;
    background: #999999;
    height: 139px;
    top: 10px;
}

.pinochle_scoreboard_round_number {
    position: absolute;
    width: 150px;
    top: 8px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.pinochle_scoreboard_round_name_north_south {
    position: absolute;
    width: 70px;
    height: 25px;
    line-height: 25px;
    top: 30px;
    font-size: 14px;
    text-align: center;
    color: white;
    background: #0000BB;
}

.pinochle_scoreboard_round_name_east_west {
    position: absolute;
    width: 70px;
    height: 25px;
    line-height: 25px;
    top: 30px;
    font-size: 14px;
    text-align: center;
    color: white;
    background: #FF0000;
}

.pinochle_scoreboard_round_label {
    position: absolute;
    width: 150px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.pinochle_scoreboard_round_value_north_south {
    position: absolute;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.pinochle_scoreboard_round_value_east_west {
    position: absolute;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.pinochle_scoreboard_round_horizontal_divider {
    position: absolute;
    width: 140px;
    height: 1.5px;
    background: white;
}

.pinochle_scoreboard_round_score_north_south {
    position: absolute;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.pinochle_scoreboard_round_score_east_west {
    position: absolute;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 22px;
    text-align: center;
    color: white;
}

#pinochle_simulator_stats {
    width: 80%;
    margin-left: 10%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    background: black;
}

.pinochle_simulator_table_stat {
    font-size: 12px;
    text-align: center;
    min-width: 35pt;
}

.pinochle_simulator_table_stat_total {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
    min-width: 35pt;
}

.pinochle_simulator_table_category {
	text-align: right;
	width: 130pt;
	padding-top: 4pt;
    padding-bottom: 4pt;
    font-size: 12px;
}

#pinochle_simulator_statistics_body {
	overflow: auto;
	height:250pt; 
	margin-bottom: 5pt;
}

.pinochle_simulator_table_outline {
	border: 1px solid white;
	border-collapse: collapse;
	width: calc(100% - 20px);
	font-size: 12pt;
}